*{
  color: white;
}
.edit-form {
  max-width: 300px;
  margin: auto;
  background-color: #567fbd;
  padding: 2em;
  border-radius: 0.5em;
  margin-top: 30%;
}

.form-group, label, h4{

  background-color: #567fbd;
}

button{
  transition: 0.3s ease;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}