.container-fluid{
  width: 100%;
  h1{
    text-align: center;
  }
}
.list {
  text-align: left;
  max-width: 100%;
  margin: auto;
}

.instruction{
  align-items: center;
}

.components{
  margin-top: 5%;
}

.table th, td {
  background-color: #567fbd !important; 
  color: white !important; 
}

.table {
  background-color: #567fbd !important; 
  color: white !important; 
}

h1, h4{
  color: #567fbd;
}

button{
  transition: 0.3s ease;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
