<div class="parent">
    <h1>Verify Your QR Code</h1>
    <div class="main">
        <div class="search-container container mt-6">
        <div class="form-group">
          <input id="search" type="text" class="form-control" placeholder="Search by Key" [(ngModel)]="key">
          <button class="btn" (click)="onSearchByKey()">Verify</button>
        </div>
      </div>
    
      <div class="message">
        <!-- <app-popup [showPopup]="true" [title]="this.title" [color]="this.color" [backgroundcolor]="this.backgroundcolor"></app-popup> -->
        <div *ngIf="keyExists" class="alert success-message" [ngClass]="[alertClass, animationClass]"  role="alert">
          <h3 class="alert-heading">{{ this.title }}</h3>
        </div>

        <h3 *ngIf="!keyExists && this.show" class="alert alert-heading no-data" [ngClass]="[animationClass]" role="alert">Not Original</h3>
      </div>
    </div>
</div>