<h1 id="tableLabel">Codes</h1>

<h4>Count {{Qrcodes?.length}}</h4>
<app-spinner  *ngIf="isLoading" ></app-spinner>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Qrcodes?.length">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Id</th>
      <th>Creation Date</th>
      <th>Organization</th>
      <th>Message</th>
      <th>Opened</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let code of Qrcodes; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ code.key }}</td>
      <td>{{ code.creationDate }}</td>
      <td>{{ code.organization }}</td>
      <td>{{ code.message }}</td>
      <td>{{ code.opened }}</td>
    </tr>
  </tbody>
</table>
